/* ========================== Header.js ============================== */

.noresize {
	resize: none;
}

/* ========================== Header.js ============================== */


/* ========================== Breadcrumb.js ========================== */


/* ========================== Login.js =============================== */


/* ========================== Manager.js ============================== */

.clickable-semester-unfinished, .clickable-semester-unfinished:hover {
    text-decoration: none !important;
    color: #856404;
}

.clickable-semester-open, .clickable-semester-open:hover {
    text-decoration: none !important;
    color: #155724;
}

.clickable-semester-closed, .clickable-semester-closed:hover {
    text-decoration: none !important;
    color: #383d41;
}

/* ========================== Calendar.js ============================ */

#calendar-wrapper {
	height: 600px;
}

.example {
  font-size: 14px;
  padding: 0 40px;
  min-height: calc(100vh - 100px);
  min-height: max-content;
  height: calc(100vh - 100px);
  width: 100%;
  margin: auto;

  &,
  & > * {
    display: flex;
    flex-direction: column;
  }

  .rbc-calendar {
    flex: 1;
    min-height: 580px;
  }
}

.examples {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* ========================== NewSemester.js ========================= */

#load-semester-alert, #replicate-semester-alert {
	height: 100%;
}

/* ========================== AdminSemester.js ======================= */

.clickable-course, .clickable-course:hover {
    text-decoration: none !important;
    color: #004085;
}


/* ========================== AdminCourse.js ========================= */


/* ========================== NewCourse.js =========================== */


/* ========================== NewEvaluation.js ======================= */





