/* ========================== Header.js ============================== */


/* ========================== Breadcrumb.js ========================== */


/* ========================== Login.js =============================== */


/* ========================== Manager.js ============================== */

.clickable-semester-unfinished, .clickable-semester-unfinished:hover {
    text-decoration: none !important;
    color: #856404;
}

.clickable-semester-open, .clickable-semester-open:hover {
    text-decoration: none !important;
    color: #155724;
}

.clickable-semester-closed, .clickable-semester-closed:hover {
    text-decoration: none !important;
    color: #383d41;
}

/* ========================== Calendar.js ============================ */


/* ========================== NewSemester.js ========================= */

#load-semester-alert, #replicate-semester-alert {
	height: 100%;
}

/* ========================== AdminSemester.js ======================= */

.clickable-course, .clickable-course:hover {
    text-decoration: none !important;
    color: #004085;
}


/* ========================== AdminCourse.js ========================= */


/* ========================== NewCourse.js =========================== */


/* ========================== NewEvaluation.js ======================= */





