.admin-course {
    background-color: lightblue;
    margin-top: 5px;
    margin-bottom: 5px;
}

.clickable-div, .clickable-div:hover {
    text-decoration: none !important;
    color: black;

}